# Environment: DEV, QA, PROD
APP_ENV=DEV

# Database connection (Railway PostgreSQL)
PGDATABASE=${{Postgres.POSTGRES_DB}}
PGHOST=${{Postgres.RAILWAY_PRIVATE_DOMAIN}}
PGPASSWORD=${{Postgres.POSTGRES_PASSWORD}}
PGPORT=5432
PGUSER=${{Postgres.POSTGRES_USER}}

# Server
PORT=3000
